<% feeds.each(function (feed) { %>
  <li>
    <a href="#<%= feed.url() %>"><%= feed.escape("title") %></a>
  </li>
<% }); %>

<li>
  <input class="add-feed" type="text" name="feed[url]">
  <button class="add-button">Add feed</button>
</li>
